<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Cero Desperdicios</title>
        <meta charset="UTF-8"/>
    </head>
    <body>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad tarjeta -->
        <section th:fragment="listadoUsuario" id="usuarios">
            <div class="container">
                <div class="row">
                    <!-- Columna izquierda para agregar tarjeta -->
                    <div class="col-md-6">
                        <h2>[[#{usuario.perfil}]]</h2>
                        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                            <li class="nav-item px-2 text-white">
                                <img th:src="@{${session.usuarioImagen}}" 
                                     width="200px"
                                     height="200px" 
                                     class="rounded-circle"
                                     alt="alt"/>
                                <span sec:authentication='name'>Jhon</span>
                            </li>
                        </ul>
                        <form action="" method="post" class="mt-3">
                            <div class="form-group">
                                <label for="nombre">[[#{usuario.username}]]:</label>
                                <h6 class="usuario-username">[[${usuario.username}]]</h6>
                            </div>
                            <div class="form-group">
                                <label for="correo">[[#{usuario.nombre}]]:</label>
                                <h6 class="usuario-nombre">[[${usuario.nombre}]]</h6>
                            </div>
                            <div class="form-group">
                                <label for="pais">[[#{usuario.ciudad}]]:</label>
                                 <h6 class="usuario-ciudad">[[${usuario.ciudad}]]</h6>
                            </div>
                            <div class="form-group">
                                <label for="correo">[[#{usuario.pais}]]:</label>
                                <h6 class="usuario-pais">[[${usuario.pais}]]</h6>
                            </div>
                        </form>
                        <form method="post" th:action='@{/logout}'> 
                            <button type="submit" class="btn btn-danger mt-3">[[#{usuario.cerrarSesion}]]</button>
                        </form>
                        <a th:if="${usuario != null}" th:href="@{/usuario/modificar/}+${usuario.idUsuario}" class="btn btn-success my-3 rounded-pill">[[#{usuario.editarUsuario}]]</a>

                    </div>

                    <!-- Columna derecha para mostrar y agregar tarjetas -->
                    <div class="col-md-6">
                        <h2 class="row justify-content-center">[[#{tarjeta.listado}]]</h2> 
                        <!-- AQUI EN DONDE SE DEBE MOSTRAR LA INFORMACION DE LA TARJETA DE LOS USUARIOS. -->
                        <ul class="list-unstyled">
                            <li th:each="tarjeta, contador : ${tarjetas}">
                                <div class="tarjeta mb-3" style="max-width: 400px;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="https://cdn-icons-png.flaticon.com/512/5645/5645197.png" class="img-fluid rounded-start" alt="Tarjeta">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="tarjeta-titulo">[[${tarjeta.nombreTitular}]]</h5>
                                                <p class="tarjeta-texto">[[#{tarjeta.terminaen}]]: [[${tarjeta.numeroTarjeta.substring(tarjeta.numeroTarjeta.length() - 4)}]]</p>
                                                <p class="tarjeta-texto"><small class="text-muted">[[#{tarjeta.expiraen}]]: [[${tarjeta.vencimientoTarjeta}]]</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                        </ul>
                        <!-- Botón "Agregar otra Tarjeta" -->
                        <a th:href="@{/tarjeta/listado}" class="d-flex align-items-center text-decoration-none mb-3">
                            <div class="d-flex align-items-center justify-content-center border border-dashed rounded" style="width: 50px; height: 50px;">
                                <span style="font-size: 24px; font-weight: bold; color: black">+</span>
                            </div>
                            <span class="ms-2" style="font-weight: bold; color: black">[[#{tarjeta.agregar}]]</span>
                        </a>

                        <div class="text-center p-2" th:if="${tarjetas == null or tarjetas.empty}">
                            <span>[[#{lista.vacia}]]</span>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        
        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarUsuario">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/usuario/guardar}" th:object="${usuario}"
                          class="was-validated"
                          enctype="multipart/form-data">
                        <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
                        <section th:replace="~{usuario/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="username">[[#{usuario.username}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="username" th:field="*{username}"
                                                           required="true">
                                                </div>  
                                                <div class="mb-3">
                                                    <label for="contrasena">[[#{usuario.contrasena}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="contrasena" th:field="*{contrasena}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="nombre">[[#{usuario.nombre}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="ciudad">[[#{usuario.ciudad}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="ciudad" th:field="*{ciudad}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="pais">[[#{usuario.pais}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="pais" th:field="*{pais}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{usuario.imagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${usuario.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/usuario/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/usuario/eliminar/}+${usuario.idUsuario}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>


    </body>
</html>
