<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Cero Desperdicios 2020</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <div class="container">
            <div class="row">
                <!-- Columna izquierda para agregar tarjeta -->
                <div class="col-md-6">
                    <h2>Perfil de Usuario</h2>
                    <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                        <li class="nav-item px-2 text-white">
                            <img th:src="@{${session.usuarioImagen}}" 
                                 width="200px"
                                 height="200px" 
                                 class="rounded-circle"
                                 alt="alt"/>
                            <span sec:authentication='name'>Jhon</span>
                        </li>
                    </ul>
                    <form action="" method="post" class="mt-3">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre"></input>
                        </div>
                        <div class="form-group">
                            <label for="correo">Correo electrónico:</label>
                            <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingrese su correo electrónico">
                        </div>
                        <div class="form-group">
                            <label for="pais">País:</label>
                            <input type="text" class="form-control" id="pais" name="pais" placeholder="Ingrese su país">
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                    <form method="post" th:action='@{/logout}'> 
                        <button type="submit" class="btn btn-danger mt-3">Cerrar Sesión</button>
                    </form>
                    <a th:href="@{/usuario/modificar/}" class="btn btn-success my-3 rounded-pill">Editar</a> 
                </div>

                <!-- Columna derecha para mostrar y agregar tarjetas -->
                <div class="col-md-6">
                    <h2 class="row justify-content-center">Mis Tarjetas</h2> 



                    <!-- AQUI EN DONDE SE DEBE MOSTRAR LA INFORMACION DE LA TARJETA DE LOS USUARIOS. -->
                    <ul class="list-unstyled">
                        <li th:each="tarjeta, contador : ${tarjetas}">
                            <div class="tarjeta mb-3" style="max-width: 400px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://cdn-icons-png.flaticon.com/512/5645/5645197.png" class="img-fluid rounded-start" alt="Tarjeta">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="tarjeta-titulo">[[${tarjeta.nombreTitular}]]</h5>
                                            <p class="tarjeta-texto">La tarjeta termina en: [[${tarjeta.numeroTarjeta.substring(tarjeta.numeroTarjeta.length() - 4)}]]</p>
                                            <p class="tarjeta-texto"><small class="text-muted">Vence: [[${tarjeta.vencimientoTarjeta}]]</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                    <!-- Botón "Agregar otra Tarjeta" -->
                    <a th:href="@{/tarjeta/listado}" class="d-flex align-items-center text-decoration-none mb-3">
                        <div class="d-flex align-items-center justify-content-center border border-dashed rounded" style="width: 50px; height: 50px;">
                            <span style="font-size: 24px; font-weight: bold; color: black">+</span>
                        </div>
                        <span class="ms-2" style="font-weight: bold; color: black">Agregar otra Tarjeta</span>
                    </a>

                    <div class="text-center p-2" th:if="${tarjetas == null or tarjetas.empty}">
                        <span>[[#{lista.vacia}]]</span>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
