<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Cero Desperdicios 2020</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:fragment="modifica">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/usuario/guardar}" th:object="${usuario}"
                          class="was-validated"
                          enctype="multipart/form-data">
                        <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
                        <section th:replace="~{usuario/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="mb-3">
                                                <label for="nombre">[[#{usuario.nombre}]]</label>
                                                <input type="text" class="form-control" 
                                                       name="nombre" th:field="*{nombre}"
                                                       required="true">
                                            </div>
                                            <div class="mb-3">
                                                <label for="apellidos">[[#{usuario.apellidos}]]</label>
                                                <input type="text" class="form-control" 
                                                       name="apellidos" th:field="*{apellidos}"
                                                       required="true">
                                            </div>
                                            <div class="mb-3">
                                                <label for="email">[[#{usuario.correo}]]</label>
                                                <input type="email" class="form-control" 
                                                       name="correo" th:field="*{correo}"
                                                       required="true">
                                            </div>
                                            <div class="mb-3">
                                                <label for="telefono">[[#{usuario.telefono}]]</label>
                                                <input type="tel" class="form-control" 
                                                       name="telefono" th:field="*{telefono}">

                                                    <div class="mb-3">
                                                        <label for="imagen">[[#{usuario.imagen}]]</label>
                                                        <input class="form-control" type="file" name="imagenFile"
                                                               onchange="readURL(this);" />
                                                        <img id="blah" th:src="@{${usuario.rutaImagen}}" alt="your image" height="200"/>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>