<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Cero Desperdiciose</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>


        <div class="container-fluid my-5">
            <div class="row align-items-center">

                <div class="col-1"></div><!-- ESTO ES UN ESPACIO ENTRE COLUMNAS -->

                <div class="col-2"> <!-- Aqui ira la imagen de registrarse -->
                    <div class="row justify-content-center">
                        <figure>
                            <img src="https://th.bing.com/th/id/OIP.s93ipvm4UO-doaSmt-qe4gHaHa?pid=ImgDet&w=157&h=157&c=7&dpr=1,4.jpg" 
                                 width="450" height="300"/>
                        </figure>
                    </div>
                </div>
                <div class="col-1"></div><!-- ESTO ES UN ESPACIO ENTRE COLUMNAS -->

                <div class="col-8 ">
                    <h1 class="row justify-content-center">Crear Cuenta</h1>
                    <div class="d-flex justify-content-center align-items-center">
                        <form th:action="@{/usuario/guardar}" method="POST" class="was-validated" enctype="multipart/form-data" ><!--Queda pendiente ajustar el th:action y el object -->

                            <div class="form-group">
                                <label for="username">[[#{usuario.username}]]</label>
                                <input type="text" class="form-control" name="username" required="true" placeholder="Ingrese su correo electronico" />
                            </div>


                            <div class="form-group">
                                <label for="contrasena">[[#{usuario.contrasena}]]</label>
                                <input type="text" class="form-control" name="contrasena" required="true" placeholder="Ingrese su contraseña"/>
                            </div>
                            <div class="form-group">
                                <label for="nombre">[[#{usuario.nombre}]]</label>
                                <input type="text" class="form-control" name="nombre" required="true" placeholder="Ingrese su nombre"/>
                            </div>
                            <div class="form-group">
                                <label for="ciudad">[[#{usuario.ciudad}]]</label>
                                <input type="text" class="form-control" name="ciudad" required="true" placeholder="Ingrese su ciudad"/>
                            </div>
                            <div class="form-group">
                                <label for="pais">[[#{usuario.pais}]]</label>
                                <input type="text" class="form-control" name="pais" required="true" placeholder="Ingrese su pais"/>
                            </div>
                            <div class="form-group">
                                <label for="imagen">[[#{categoria.rutaImagen}]]</label>
                                <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                <img id="blah" src="#" alt="your image" height="200"/>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>



            </div>   
        </div> 
    </body>
</html>

