<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Cero Desperdicios</title>
        <style>
            .info-card h2 {
                color: #004d00;
            }
            .bold-text {
                font-weight: bold;
            }
        </style>

    </head>
    <body>
        <!-- 3 Sección principal para mostrar la información de la entidad conozcanos -->
        <section th:fragment="listadoConozcanos" id="conozcanos">
            <div class="container">
                <div class="row">
                    <h1 class="col-12 text-center">[[#{conozcanos.ubicanos}]]</h1>

                    <div class="col-md-3 info-card">
                        <h4>[[#{conozcanos.mision}]]</h4>
                        <p>[[#{conozcanos.misionTexto}]]</p>
                    </div>
                    <div class="col-md-3 info-card">
                        <h4>[[#{conozcanos.conciencia}]]</h4>
                        <p>[[#{conozcanos.concienciaTexto}]]</p>
                    </div>
                    <div class="col-md-3 info-card">
                        <h4>[[#{conozcanos.acciones}]]</h4>
                        <p>[[#{conozcanos.accionesTexto}]]</p>
                    </div>
                    <div class="col-md-3 info-card">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125740.08576881798!2d-84.02685352569665!3d9.985627863346934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e54469c695db%3A0xb3e73c81bf090e03!2sSoda%20Donde%20Ma%20CR!5e0!3m2!1ses-419!2scr!4v1717550685857!5m2!1ses-419!2scr" width="300" height="150" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <p><strong>[[#{conozcanos.ubicacion}]]</strong></p>
                    </div>
                </div>
            </div>
        </section>


    </body>
</html>
